{% extends 'tutors/base.html' %}
{% block title %}{{ block.super }}<title>About</title>{% endblock %}
{% block content %}
<div class='text-right lead'>
<address>
  <strong>Macmarcus Coaching Tutors.</strong><br>
  Along Iya Saheed Alamala<br>
  Isolo, Akure<br>
  <abbr title="Phone">P:</abbr> 07032880291
</address>
</div>
<blockquote class='blockquote-reverse'>
  <p>Out of the Night that covers me, black as the pit from pole to pole</p>
  <footer>Nelson Mandela <cite title="Pollsmor">Pollsmor Prison</cite></footer>
</blockquote>
{% endblock content %}
{% block scripts %}
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script>

   function init_map() {
     // Enter the latitude and longitude of your office here
	 var myLocation = new google.maps.LatLng(27.176141, 78.042370);

     var mapOptions = {
          center: myLocation,
          zoom: 14
     };

	 var marker = new google.maps.Marker({
	   position: myLocation,
	   title:"We are here"});

     var map = new google.maps.Map(document.getElementById("map-container"),
                                   mapOptions);
	 marker.setMap(map);
   }

   google.maps.event.addDomListener(window, 'load', init_map);
  </script>
{% endblock %}
{% block footer %}
<div>
{% include 'tutors/_footer.html' %}
</div>
{% endblock footer %}
